@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-padding-top: 80px; /* アンカーリンク時、ヘッダー分だけ下にずらす */
  }
  ::selection {
    background-color: #2563eb;
    color: white;
  }
}

@layer components {
  .accent-hover:hover {
    background-color: #2563eb;
    color: white;
    border-color: #2563eb;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Noto+Sans+JP:wght@400;500;700;900&display=swap");

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
